  <center> 	
<div class="well">
<p> Prenom de l'auteur : <%= @user.first_name %> </p>

<p> Nom de famille : <%= @user.last_name %> </p>

<p> Description  : <%= @user.description %> </p>

<p> Email : <%= @user.email%> </p>

